

	
/*h2{
background-color:yellow;
padding:10px 40px;
border-style:dotted;
border-width:5px;
border-color:blue;
margin:50px;
}

h4{
	background-color:orange;
	padding:10px 60px 10px 10px;
	border-style:dashed;
	border-width:8px;
    border-color:purple;
	margin:50px;
}*/
 	


